<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Express</title>
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
	<header><img src="/img/prueba.jpg" alt="ImagenPrueba"></header>
	{{{ body }}}

	{{#if showTests}}
		<div id="mocha" ></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
        {{/if}}
		<script>
			mocha.run();
		</script>
    {{/if}}


</body>
</html>